/* src/components/AccordionSection.css */

.as-section:last-child {
  border-bottom: none;
}

.as-header {
  background-color: #f9fafb;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b7280;
  cursor: pointer;
}

.as-section.as-completed .as-header {
  color: #111827;
  cursor: pointer;
  background-color: #f3f4f6;
}

/* This rule is only active when the section is NOT locked */
.as-section.as-completed:not(.as-locked) .as-header:hover {
    background-color: #e5e7eb;
}

/* NEW: This rule overrides the cursor when a section is locked */
.as-section.as-locked .as-header {
    cursor: not-allowed;
}

.as-section.as-active .as-header {
  color: #111827;
  /* background-color: #fff; */
  cursor: pointer;
}

.as-content {
  padding-top: 0;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: #fff;
}
