/* src/pages/SubmitJobPage.css */
.sjp-submitJobPage {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
  z-index: -1;
}

.sjp-pageTitle {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.sjp-accordion {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  overflow: hidden;
  padding: 2em;
}

.sjp-buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 1.5rem; 
  border-top: 1px solid #e5e7eb;
}
