/* src/App.css */

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #FFFFFF;
  color: #333;
}

html {
  margin: 0;
  min-height: 100vh;
  overscroll-behavior: none;

}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 20px;
  /* Original padding */
  padding-top: 0px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  main {
    padding-top: 120px;
  }
}