.about-page-container {
    width: 100%;
    /* width: 100vw; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    padding: 2rem 1rem; 
}

.info-text {
    width: 100%;
}
  
.info-text p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.info-text a {
    color: #007bff;
    text-decoration: none;
}

.info-text a:hover {
    text-decoration: underline;
}
  